<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Spyridon Peppas, George Danil">
    <meta name="description" content="Publishing House">
    <meta name="keywords" content="HMTL, CSS, JS, Project, Ekdotikos Oikos, Upatras">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Εκδοτικος Οίκος - Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">

</head>
<body>

    {{> header }} 
    {{#if results3.category_name}}
      <div class="nav2"><h2> {{results3.category_name}}  </h2>
      </div>
    {{else}}
    <div class="nav2"><h2>Βιβλία</h2>
    </div>
    {{/if}}
    <main class="grid-books">
        <aside class="aside-books">
            <h2>Κατηγορίες</h2>
            <hr>
            <ul>
              {{#each results2}}
              
              <li><a href="/allbooks?category={{id}}"> {{category_name}} </a></li>
              
              {{/each}}
                
            </ul>
        </aside>
        
        <article class="article-books" id="mytable">
            <tbody>
              
          
            <div class="article-container">
              {{#each results}}
                <div> 
                  <a href="/book/{{book_id}}" title="{{book_title}}"><img src="{{book_cover}}" alt="{{book_title}}" class="img-thumbnail"></a>
                </div>
              {{/each}}
            </div>
          </tbody>
        </article>
    </main>
    <input type = "hidden" id = "totalPages" value ={{results3.totalPages}} />
    <input type = "hidden" id = "page" value ={{page}} />
    {{#if results3.category }}
    <input type = "hidden" id = "category" value ={{results3.category}} />
    {{/if}}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center" id="listOfPages">
      </ul>
    </nav>

    {{> footer }} 

    <script src="../js/allBooks.js"></script>

</body>
</html>