
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Spyridon Peppas, George Danil">
    <meta name="description" content="Publishing House">
    <meta name="keywords" content="HMTL, CSS, JS, Project, Ekdotikos Oikos, Upatras">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{results.0.book_title}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/navbar.css" rel="stylesheet" type="text/css">
    <link href="../css/book.css" rel="stylesheet" type="text/css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    
    {{> header}}

    <main class="container main-book p-2 my-3">
       
        <div class="row justify-content-start">
            <aside class="col-md-6 my-3 pb-3 aside-book ">
              <img class="mx-auto d-block" id="book-img" src="{{results.0.book_cover}}" alt="{{results.0.book_title}}">
            </aside>
            <article class="col-md-5 article-book py-3 mt-3 mb-4">
              <div class="row justify-content-center my-3"><h2 id="book-title">{{results.0.book_title}}</h2></div>
              <div class="article-details mt-5">
                <div class="article-authors">
                  <span>Κατηγορία :</span>  <a href="/allbooks?category={{results.0.book_category}}">{{results.0.category_name}}</a><br>
                  <span>Συγγραφέας : </span>    <a href="/allbooks?author={{results.0.book_author_id}}">{{results.0.author_name}}</a>
                </div> 
                <div class="article-rating">
                  <p> <span>Αξιολόγηση :</span> </p>
                  <!-- EDw pairnei value ton meso oro ton aksiologisewn apo thn vash-->
                  <progress value="0" max="5"></progress>
                  <!-- EDw pairnei value ton meso oro ton aksiologisewn apo thn vash-->
                  <p style="padding-left: 15px;" id="book-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                </div>
                <div class="article-wish">
                  {{#if user.user_id}}
                    {{#if results3.0.id}}
                    <form action="/deleteWishlist" method="post">
                        <input type = "hidden" id = "book_id" name = "book_id" value ={{results.0.book_id}} />
                        <input type = "hidden" id = "user_id" name = "user_id" value ={{user.user_id}} />
                        <input type = "hidden" id = "redirect" name = "redirect" value ="/book/{{results.0.book_id}}" />
                        <p><span> Αφαίρεση από Wishlist</span></p> &nbsp; 
                        <button type="submit" class="btn btn-default wishlist"  id="submitButton2" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                      </form>
                    {{else}}
                      <form action="/saveWishlist" method="post">
                        <input type = "hidden" id = "book_id" name = "book_id" value ={{results.0.book_id}} />
                        <input type = "hidden" id = "user_id" name = "user_id" value ={{user.user_id}} />
                        
                        <p><span> Προσθήκη σε Wishlist</span></p> &nbsp; 
                        <button type="submit" class="btn btn-default wishlist"  id="submitButton2" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                      </form>
                    {{/if}}
                  {{else}}
                    <form action="/login">
                      <p><span> Προσθήκη σε Wishlist</span></p> &nbsp; 
                      <button type="submit" class="btn btn-default wishlist"  id="submitButton2" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                    </form>
                  {{/if}}                  
                </div>
              </div>
            </article>
        </div>

        <div class="row description px-5 py-4 my-3">
            <span class="title">Περιγραφή</span>
            <p class="px-4 mt-2">  {{results.0.book_description}}</p>
        </div>


        <div class="row new-comment my-3 px-5 py-2">
          <span class="title">Προσθήκη Σχολίου</span>

          {{#if user.user_id}}
          <form action="/newReview" method="post" class="w-100 m-3">
            <textarea id="comment-text" name="commentText" placeholder="Γράψε εδώ το σχόλιο σου..."></textarea>
            
            <p class="float-left ml-3">
              <!-- Edw pairneis auto to input gia to rating pou edwse o xrhsths -->
              <input type="range" id="rating" name="rating" 
                      min="0" max="5" value="0" step="1">
              <!-- Edw pairneis auto to input gia to rating pou edwse o xrhsths -->
              <nobr>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </nobr>
            </p>
            <p class="mx-5 mb-0 mt-2 " id="anonymous">
              <label for="anonymous">Εμφάνιση ως ανώνυμο?</label> 
              <input type="checkbox" id ="anonymous" class="ml-2"  name="anonymous" value="YES">
            </p>
            
            <input type = "hidden" id = "book_id"  name = "book_id" value ={{results.0.book_id}} />
            <input type = "hidden" id = "date" name = "date"  />
            <input type = "hidden" id = "user_id" name ="user_id"  value ={{user.user_id}} />
            <input type = "hidden" id = "isAdmin" name ="isAdmin"  value ={{user.isAdmin}} />
            <button class="btn btn-default float-right mr-3" id="submitButton"type="submit">Υποβολή</button>
          </form>
          {{else}}
          <div class="w-100 my-3 " style="font-style: italic;text-align:center;font-size:18px"><a href="/login"> Σύνδεση για προσθήκη σχολίου</a></div>  
          {{/if}}
        </div>

        <div class="row comments mt-3 px-5 pt-2 pb-3">
          <span class="title">Σχολιασμοί Βιβλίου</span>
          
          {{#each results2}}

          <div class="comment px-2 pt-2 mt-4">
            
            {{#if anonymous}}
            <p class="comment-username ml-3 mb-1 float-left" style="font-style: italic;">anonymous</p>
            {{else}}
            <p class="comment-username ml-3 mb-1 float-left">{{firstName}}</p>
            {{/if}}
            
            <p class="comment-date float-left ml-2 my-1">on {{date}}</p>
            <p class="comment-rating float-right mb-1 mr-3">
               <meter min="0"  max="5" value={{rating}}></meter>    
            </p><br>
            <form action="/removeComment" method="post">
              <button class="btn btn-default ml-3 float-left my-1 removeButton"  name="removeCommentId" id="removeButton" value={{id_comment}}> Αφαίρεση </button>
              <div class="removeButtonDiv">{{user_id}}</div>
            </form>
            <p class="comment-comment mx-5">
                {{comment}}
            </p> 
          </div>
          {{/each}}
          

        </div>
      
    </main>

    {{> footer}}

    <script src="../js/book.js"></script>

</body>

</html>