<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Spyridon Peppas, George Danil">
    <meta name="description" content="Publishing House">
    <meta name="keywords" content="HMTL, CSS, JS, Project, Ekdotikos Oikos, Upatras">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Διαχείρηση Βιβλίων - Εκδοτικός Οίκος</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">

</head>
<body>
  
  {{> header }} 

  {{#if user.isAdmin}}
  <div class="container">
    <h2 class="adminHeader">Λίστα Βιβλίων</h2>
        <button class="btn btn-success my-2" data-toggle="modal" data-target="#myModalAdd">Add New Book</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Τίτλος</th>
          <th>Περιγραφή</th>
          <th>Κατηγορία</th>
          <th>Βοοk Cover</th>
          <th>Συγγραφέας</th>          
          <th>Ενέργεια</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ book_id }}</td>
          <td> <a href="/book/{{ book_id }}"{{ book_id }}>{{ book_title }}</a> </td>
          <td>{{ book_description }}</td>
          <td>{{ category_name }}</td>
          <td><img src="{{ book_cover }}" alt="..." class="img-thumbnail" ></td>
          <td>{{ author_name }}</td>
          
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ book_id }}" data-book_title="{{ book_title }}" data-book_description="{{ book_description }}" data-book_cover="{{ book_cover }}" data-book_author_id="{{ book_author_id }}" data-book_category="{{ book_category }}">Επεξεργασία</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ book_id }}">Αφαίρεση</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
 
    <!-- Modal Add Product-->
      <form action="/save" enctype="multipart/form-data" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel" name="exampleModalLabel">Add New Book</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                 <label for="book_title">Τιτλος βιβλίου</label>
                   <input type="text" name="book_title" class="form-control" required>
               </div>
 
               <div class="form-group">
                 <label for="book_description">Περιγραφή του βιβλίου</label>
                   <input type="text" name="book_description" class="form-control" required>
               </div>

               <div class="form-group">
                    <label for="sel1">Εξώφυλλο</label>
                    <select class="form-control" name="book_cover" id="book_cover" onchange="functionForCovers(this)">
                      <option value=""> </option>
                      <option value="NewImage" id="NewImage">Καινούργια εικόνα</option>
                      {{#each files}}
                      <option value="../img/covers/{{this}}" >{{this}}</option>
                      {{/each}}
                    </select>
                    <div style="display:none" id="fileForCover">File: <input id="fileForCoverType" type="file" name="fileForCoverType" multiple="multiple" /></div>
                </div> 
                      

               <div class="form-group">
                    <label for="sel1">Συγγραφέας</label>
                    <select class="form-control" name="book_author_id" id="sel1">
                      {{#each results3}}
                      <option value={{book_author_id}}>{{author_name}}</option>
                      {{/each}}
                    </select>
                </div> 
                             
                <div class="form-group">
                    <label for="sel1">Κατηγορία</label>
                    <select class="form-control" name="book_category" id="sel1">
                      {{#each results2}}
                      <option value={{id}}>{{category_name}}</option>
                      {{/each}}
                    </select>
                </div> 

             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
 
     <!-- Modal Update Product-->
   <form action="/update" enctype="multipart/form-data" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="book_title" class="form-control book_title" placeholder="book_title" required>
              </div>
 
              <div class="form-group">
                  <input type="text" name="book_description" class="form-control book_description" placeholder="book_description" required>
              </div>
              <div class="form-group">
                    <label for="sel1">Εξώφυλλο</label>
                    <select class="form-control book_cover" name="book_cover" id="book_cover" onChange="functionForCoversUpdate(this)">
                      <option value=""></option>
                      <option value="NewImage" id="NewImage">Καινούργια εικόνα</option>
                      {{#each files}}
                      <option value="../img/covers/{{this}}">{{this}}</option>
                      {{/each}}
                             
                    
                    </select>
                    <div style="display:none" id="fileForCoverFromUpdate">File: <input id="fileForCoverTypeFromUpdate" type="file" name="fileForCoverTypeFromUpdate" multiple="multiple" /></div>
             
                </div> 
              
              <div class="form-group">
                    <label for="sel1">Συγγραφέας</label>
                    <select class="form-control book_author_id" name="book_author_id" id="sel1">
                      {{#each results3}}
                      <option value={{book_author_id}}>{{author_name}}</option>
                      {{/each}}
                    </select>
                </div> 
                
              <div class="form-group">
                    <label for="sel1">Κατηγορία</label>
                    <select class="form-control book_category" name="book_category" id="sel1">
                      {{#each results2}}
                      <option value={{id}}>{{category_name}}</option>
                      {{/each}}
                    </select>
                </div> 
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="book_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
     <!-- Modal Delete Product-->
      <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Book</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Are you sure to delete this data?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type="hidden" name="book_id" class="form-control book_id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
 
 {{else}}
    <main class="main-home">

       <h3>Δεν έχετε δικαίωμα πρόσβασης σε αυτή τη σελίδα</h3>
       <p>Θα σας απαντήσουμε το συντομότερο δυνατό
       </p>
       
    </main>
 {{/if}}
{{> footer }} 
<script>
    

</script>
<script src="../js/bookView.js" ></script>
</body>
</html>