<html lang="el">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Spyridon Peppas, George Danil">
    <meta name="description" content="Publishing House">
    <meta name="keywords" content="HMTL, CSS, JS, Project, Ekdotikos Oikos, Upatras, node.js">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Έργα Χρηστών - Εκδοτικός Οίκος</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">
</head>
<body>

  {{> header }} 

  <div class="container">
    <h2 class="adminHeader mb-3">Λίστα από έργα χρηστών</h2>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
        <th>Αρχείο</th>
          <th>Δημιουργός</th>
          <th>Τύπος αρχείου</th>
          <th>Κατάσταση</th>
          <th>Ενέργεια</th>
        </tr>
      </thead>
      <tbody>
          
         {{#each results}}
         
        <tr>
            <td> <a href="/uploadedbyusers/{{ path }}">{{ name }}</a> </td>
          <td>{{firstName}} {{lastName}}</td>
          <td>{{type_of_upload}}</td>
          <td>{{current_state}}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-success sendMail"  data-user_id="{{user_id}}"  data-email="{{ email }}"  >Αποστολή email</a>

            <a href="javascript:void(0);" class="btn btn-sm btn-info edit"  data-id="{{id}}"  data-current_state="{{ current_state }}"  >Επεξεργασία</a>
            
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Διαγραφή</a>
          </td>
        </tr>
        {{/each}}
        
      </tbody>
    </table>
  </div>

<!-- Modal Send email to user-->
   <form action="/sendToUser" method="post">
       <div class="modal fade" id="SendMailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Send email to user</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                  <label for="subject">Θέμα</label>
                   <input class="form-control" id="subject" name="subject" placeholder="Θέμα">
                </div>

                  <div class="form-group">
                    <label for="text">Μήνυμα</label>
                    <textarea class="form-control" id="text" name="text" rows="3" placeholder="Γράψε εδώ το μήνυμά σου..."></textarea>
                  </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="user_id" class="user_id">
              <input type="hidden" name="email" class="email">
              <input type="hidden" name="redirect" class="redirect" value="yes">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
       </div>
  </form>

     <!-- Modal Update Product-->
   <form action="/updateErgoState" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Chage state</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <div class="form-group">
                    <label for="current_state">State</label>
                    <select class="form-control" name="current_state" id="current_state">
                      <option value="Σε αναμονή">Σε αναμονή</option>
                      <option value="Εγκρίθηκε">Εγκρίθηκε</option>
                      <option value="Απορρίφθηκε">Απορρίφθηκε</option>
                    </select>
                </div> 
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

     <!-- Modal Delete Product-->
      <form id="add-row-form" action="/deleteUpload" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Ergo</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Are you sure to delete this data?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type = "hidden" class="form-control deleteUpload id" id = "upload_id" name = "upload_id"  />
                                            <input type = "hidden" class=" form-control deleteUpload" id = "redirect" name = "redirect" value ="/ergoview" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
 
{{> footer }} 

<script src="../js/ergoview.js">
    
</script>
</body>
</html>