<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Spyridon Peppas, George Danil">
    <meta name="description" content="Publishing House">
    <meta name="keywords" content="HMTL, CSS, JS, Project, Ekdotikos Oikos, Upatras">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Διαχείρηση Συγγραφέων - Εκδοτικός Οίκος</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">

</head>

<body>

  {{> header }} 
  {{#if user.isAdmin}}
  <div class="container">
    <h2 class="adminHeader">Λίστα Συγγραφέων</h2>

    <button class="btn btn-success my-3" data-toggle="modal" data-target="#myModalAdd">Προσθήκη</button>
{{!-- 
    <div class="row">
      <div class="col-md-1">Author Id</div>
      <div class="col-md-2">Όνομα</div>
      <div class="col-md-7">Περιγραφή</div>
      <div class="col-md-1">Sum of Books</div>
      <div class="col-md-1">Action</div>
    </div>

    {{#each results}}
    <div class="row w-100">
      <div class="col-md-1">{{ book_author_id }}</div>
      <div class="col-md-2"><a href="/allbooks?author={{ book_author_id }}"{{ book_author_id }}>{{ author_name }}</a></div>
      <div class="col-md-7">{{ author_description }}</div>
      <div class="col-md-1">{{ sum }}</div>
      <div class="col-md-1">
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-book_author_id="{{ book_author_id }}" data-author_name="{{ author_name }}" data-author_description="{{ author_description }}"  >Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-book_author_id="{{ book_author_id }}">Delete</a>
      </div>
    </div>
    {{/each}}
 --}}
    <table class="table table-striped" id="mytable" >
      <thead>
        <tr>
          <th>Id</th>
          <th>Συγγραφέασ</th>
          <th>Περιγραφή</th>
          <th>Αριθμός Βιβλίων</th>
          <th>Ενέργειες</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ book_author_id }}</td>
          <td> <a href="/allbooks?author={{ book_author_id }}"{{ book_author_id }}>{{ author_name }}</a> </td>
          <td>{{ author_description }}</td>
          <td>{{ sum }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-book_author_id="{{ book_author_id }}" data-author_name="{{ author_name }}" data-author_description="{{ author_description }}"  >Επεξεργασία</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-book_author_id="{{ book_author_id }}">Αφαίρεση</a>
          </td>
        </tr>
        {{/each}}
        
      </tbody>
    </table> 
  </div>
  
    <!-- Modal Add Product-->
      <form action="/saveAuthor" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Author</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="author_name" class="form-control" placeholder="author_name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="author_description" class="form-control" placeholder="author_description" required>
               </div>         
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
 
     <!-- Modal Update Product-->
   <form action="/updateAuthor" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Author</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="author_name" class="form-control author_name" placeholder="author_name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="author_description" class="form-control author_description" placeholder="author_description" required>
               </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="book_author_id" class="book_author_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
     <!-- Modal Delete Product-->
      <form id="add-row-form" action="/deleteAuthor" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Author</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Are you sure to delete this data?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type="hidden" name="book_author_id" class="form-control book_author_id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
 {{else}}
    <main class="main-home">

 <h2 class="adminHeader mb-3">Δεν έχετε δικαίωμα πρόσβασης σε αυτήν τη σελίδα</h2>


       
    </main>
 {{/if}}
{{> footer }} 

<script>
    $(document).ready(function(){
            //showing data to edit modal      
        $('#mytable').on('click','.edit',function(){
        var book_author_id = $(this).data('book_author_id');
        var author_name = $(this).data('author_name');
        var author_description = $(this).data('author_description');
        $('#EditModal').modal('show');
        $('.author_name').val(author_name);
        $('.author_description').val(author_description);
        $('.book_author_id').val(book_author_id);
      });
            //showing delete record modal
        $('#mytable').on('click','.delete',function(){
        var book_author_id = $(this).data('book_author_id');
        $('#DeleteModal').modal('show');
        $('.book_author_id2').val(book_author_id);
      });
    });
</script>
</body>
</html>